name: CI

on:
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/ci.yaml"
      - "src/**"
      - "tests/**"

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv sync --group dev

      - name: Run format check
        run: make format

      - name: Run lint checks
        run: make lint
